<template>
	<div class="home border-radius d-flex flex-column mt-md-0 mt-2">
		<b-button
			@click="changeColor"
			class="ml-auto mr-md-5 mr-3 mt-md-0 mt-sm-5"
			:class="isDarkMode"
		>
			{{ darkModeButtonText }}
		</b-button>

		<ListasTarefas :darkMode="darkMode" />
	</div>
</template>

<script>
import ListasTarefas from "./ListasTarefas.vue";

export default {
	name: "Home",
	// eslint-disable-next-line vue/no-unused-components
	components: { ListasTarefas },
	computed: {
		isDarkMode() {
			if (this.darkMode == true) {
				return "text-green dark";
			}
			return "white";
		},
		darkModeButtonText() {
			return this.darkMode == true ? "White Mode" : "Dark Mode";
		}
	},
	data: () => ({
		darkMode: true
	}),
	methods: {
		changeColor() {
			this.darkMode == true
				? document.querySelector("body").classList.remove("dark")
				: document.querySelector("body").classList.add("dark");

			this.darkMode = !this.darkMode;
		}
	}
};
</script>

<style>
body.dark {
	background-color: rgb(0, 0, 0);
}
.card.dark {
	background-color: rgba(255, 255, 255, 0.027);
}
button.dark {
	color: rgb(6, 175, 119) !important;
	background-color: rgba(255, 255, 255, 0.05);
}

input.dark {
	background-color: rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.774);
}
input.dark:focus {
	background-color: rgba(255, 255, 255, 0.089);
	color: rgba(255, 255, 255, 0.774);
}

button.white {
	background-color: #3b3b3b;
}

.border-radius {
	border-radius: 4px !important;
}
.home {
	min-height: 100%;
}
.text-green {
	color: rgb(6, 175, 118) !important;
}

.b-icon:hover {
	cursor: pointer;
}
</style>
