<template>
	<b-container class="m-1 p-1">
		<div
			class="lista-tarefa d-flex justify-content-center align-content-center align-items-center"
			:class="isDarkMode"
		>
			<b-card :title="listaTarefa.nome" :class="isDarkMode">
				<b-card-text v-for="tarefa in tarefas" :key="tarefa.id">
					<Tarefa :tarefa="tarefa" @deleteTarefa="deleteTarefa" />
				</b-card-text>

				<b-alert v-model="showError" :dismissible="true">
					{{ errorMessage }}
				</b-alert>
				<b-form-group>
					<b-input-group
						class="align-content-center align-items-center d-flex"
						:class="isDarkMode"
					>
						<b-form-input
							v-model="descricao"
							@input="hideError"
							@keypress="adicionaTarefaOnEnter"
							class="descricao-tarefa-input border-radius"
							:class="isDarkMode"
							autocomplete="off"
							placeholder="Digite uma tarefa"
						/>

						<b-icon icon="plus-circle" @click="adicionarTarefa" class="ml-1" />
					</b-input-group>
				</b-form-group>
			</b-card>

			<b-icon
				style="width:25px;height:25px; "
				icon="trash"
				class="icon align-self-center"
				@click="deleteListaTarefa"
			/>
		</div>
		<div class="lista-body"></div>
	</b-container>
</template>

<script>
import { BIcon, BIconTrash } from "bootstrap-vue";
import Tarefa from "./Tarefa";
import TarefaService from "../service/api/TarefaService";
import { deleteAllListsTarefas } from "../service/api/ListaTarefaService";
export default {
	name: "ListaTarefa",
	props: ["listaTarefa", "darkMode"],
	data: () => ({
		descricao: "",
		tarefas: [],
		response: {},
		error: [],
		showError: false,
		errorMessage: "",
		// Armazena o interval criado no mounted()
		interval: null
	}),
	computed: {
		isDarkMode() {
			return this.darkMode == true ? "dark text-green" : "white";
		}
	},
	components: {
		BIcon,
		// eslint-disable-next-line vue/no-unused-components
		BIconTrash,
		Tarefa
	},
	methods: {
		deleteListaTarefa() {
			this.$emit("deleteListaTarefa", this.listaTarefa);
		},
		async deleteTarefa(tarefa) {
			const { id } = tarefa;
			console.log("deletando tarefa " + id);

			this.response = await TarefaService.deleteTarefa({ id });
			this.trataErro(this.response);

			console.log("tarefa deletada");

			this.listarTarefas();
		},
		async listarTarefas() {
			const { id, nome } = this.listaTarefa;
			console.log("Listando tarefas da lista " + nome);

			this.response = await TarefaService.getTarefas({ idListaTarefa: id });

			this.trataErro(this.response);

			this.tarefas = this.response.data;
		},
		adicionaTarefaOnEnter(event) {
			const { key } = event;

			if (key == "Enter") {
				this.adicionarTarefa();
			}
		},
		async adicionarTarefa() {
			const { id } = this.listaTarefa;
			const descricao = this.descricao;

			if (descricao.trim() == "") {
				this.errorMessage = "Preencha o nome da tarefa";
				this.showError = true;
			} else {
				this.descricao = "";

				this.response = await TarefaService.saveTarefa({
					idListaTarefa: id,
					descricao
				});

				this.trataErro(this.response);

				this.listarTarefas();
			}
		},
		hideError() {
			this.showError = false;
			this.errorMessage = "";
		},

		trataErro(response) {
			if (response.errors) {
				this.errorMessage = response.message;
			}
		}
	},
	mounted() {
		this.listarTarefas();
		this.interval = setInterval(() => {
			this.listarTarefas();
		}, 10000);
	},
	beforeDestroy() {
		clearInterval(this.interval);
	}
};
</script>

<style scoped>
.card {
	width: 80%;
}

@media screen and (max-width: 768px) {
	.card {
		width: 100%;
	}
}
</style>
