<template>
	<b-container class="mt-5 mt-md-1 p-md-5">
		<b-alert v-model="showError" :dismissible="true">
			{{ errorMessage }}
		</b-alert>
		<b-form-group
			class="mb-2 input-group d-flex align-items-start justify-content-center wrap"
		>
			<b-input-group
				class="d-flex align-content-center align-items-center"
				:class="isDarkMode"
			>
				<b-form-input
					v-model="nome"
					@input="hideError"
					@keypress="adicionaListaTarefaOnEnter"
					id="nome-tarefa-input"
					class="border-radius"
					:class="isDarkMode"
					autocomplete="off"
					placeholder="Digite uma lista de tarefas"
				/>

				<b-icon icon="plus-circle" @click="adicionarListaTarefa" class="ml-1" />
			</b-input-group>
			<b-button @click="deleteAllListasTarefas" class="my-2" :class="isDarkMode"
				>Remover todas listas de tarefas</b-button
			>
		</b-form-group>
		<b-container class="listas-tarefas d-flex flex-column align-items-center">
			<ListaTarefa
				v-for="listaTarefa in listasTarefas"
				:key="listaTarefa.id"
				:listaTarefa="listaTarefa"
				@deleteListaTarefa="deleteListaTarefa"
				:darkMode="darkMode"
		/></b-container>
	</b-container>
</template>

<script>
import { BIcon, BIconPlusCircle } from "bootstrap-vue";
import ListaTarefaService from "../service/api/ListaTarefaService";

import ListaTarefa from "./ListaTarefa.vue";

export default {
	name: "ListasTarefas",
	// eslint-disable-next-line vue/no-unused-components
	components: { ListaTarefa, BIcon, BIconPlusCircle },
	data: () => ({
		response: {},
		error: [],
		showError: false,
		errorMessage: "",
		nome: "",
		listasTarefas: [],
		// Armazena o interval criado no mounted()
		interval: null
	}),
	props: ["darkMode"],
	computed: {
		isDarkMode() {
			return this.darkMode == true ? "dark text-green" : "white";
		}
	},
	methods: {
		adicionaListaTarefaOnEnter(event) {
			const { key } = event;

			if (key == "Enter") {
				this.adicionarListaTarefa();
			}
		},

		trataErro(response) {
			if (response.errors) {
				this.errorMessage = response.message;
			}
		},
		async listarListaTarefas() {
			console.log("Listando listas de tarefas");

			this.response = await ListaTarefaService.getListaTarefas();

			this.trataErro(this.response);

			this.listasTarefas = this.response.data;
		},
		async adicionarListaTarefa() {
			const nome = this.nome;
			if (nome.trim() == "") {
				this.errorMessage = "Preencha o nome da lista de tarefas";
				this.showError = true;
			} else {
				console.log("Adicionando lista de tarefas " + this.nome);
				this.nome = "";
				this.response = await ListaTarefaService.saveListaTarefa({ nome });

				this.trataErro(this.response);

				this.listarListaTarefas();
			}
		},

		async deleteListaTarefa(event) {
			const { id } = event;
			console.log("deletando lista de tarefas " + id);

			this.response = await ListaTarefaService.deleteListaTarefa({ id });
			this.trataErro(this.response);

			console.log("lista de tarefas deletada");

			this.listarListaTarefas();
		},
		async deleteAllListasTarefas() {
			console.log("deletando todas as listas de tarefas");

			this.response = await ListaTarefaService.deleteAllListasTarefas();

			this.trataErro(this.response);

			console.log("todas as listas de tarefas deletadas");

			this.listarListaTarefas();
		},
		hideError() {
			this.showError = false;
			this.errorMessage = "";
		}
	},
	mounted() {
		this.listarListaTarefas();

		this.interval = setInterval(() => {
			this.listarListaTarefas();
		}, 10000);
	},
	beforeDestroy() {
		clearInterval(this.interval);
	}
};
</script>

<style scoped></style>
