<template>
	<div
		class="tarefa d-flex flex-row align-content-center align-items-center wrap"
	>
		<li class="descricao-tarefa">{{ tarefa.descricao }}</li>

		<b-icon
			style="width:20px;height:20px; "
			icon="trash"
			class="icon ml-auto mr-md-5 mr-0 "
			@click="deleteTarefa"
		/>
	</div>
</template>

<script>
import { BIcon, BIconTrash } from "bootstrap-vue";

export default {
	name: "Tarefa",
	props: ["tarefa"],
	components: {
		BIcon,
		// eslint-disable-next-line vue/no-unused-components
		BIconTrash
	},
	methods: {
		deleteTarefa() {
			this.$emit("deleteTarefa", this.tarefa);
		}
	}
};
</script>

<style scoped>
.descricao-tarefa {
	max-width: 95%;
}
</style>
