<template>
	<div id="app">
		<Home />
	</div>
</template>

<script>
import Home from "./components/Home.vue";

export default {
	name: "App",
	components: {
		Home
	}
};
</script>

<style>
#app {
	font-family: Open Sans sans-serif, Helvetica, sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}
</style>
